header {
  user-select: none;
}

body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.main-header {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  font-size: 1.3rem;
  background-color: #33ac97;
  padding: 13px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #2f7a6eb7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.main-header p {
  color: white;
  font-weight: bold;
}

main {
  padding: 0 0 100px 0;
}

@media screen and (max-width: 767px) {
  .main-header {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    background-color: #33ac97;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  main {
    padding: 0 20px;
  }
}

h3 {
  text-align: center;
}

.main-contents {
  margin: 0 auto;
  width: 767px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .main-contents {
    width: 100%;
  }
}

.notification {
  background-color: #cdf5da;
  position: relative;
  display: block;
  padding: 5px 20px;
  margin: 30px auto;
  box-shadow: 0 3px 3px #379160b7;
  padding-top: 40px;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.notification::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 4rem;
  text-align: center;
  content: "Tips";
  padding: .35px;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: rgb(24, 172, 135);
  border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -ms-border-radius: 0 0 10px 0;
  -o-border-radius: 0 0 10px 0;
}

.button-link {
  display: block;
  margin: 2rem auto;
  width: 400px;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .button-link {
    width: 85%
  }
}

.ui-button {
  display: block;
  margin: 2rem 0;
  width: 100%;
  height: 5rem;
  background-color: #ddd;
  cursor: default;
  position: relative;
}

.ui-button p {
  position: absolute;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.ui-button.a {
  border-style: solid;
  border-color: rgb(40, 138, 105);
  border-width: 2.5px;
}

.ui-button.b {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ui-button.c {
  background-color: #abe4da;
  color: #111;
  text-decoration: none;
}

.ui-button.d {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ui-button.e {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.ui-button.e:hover {
  background-color: #1b806b;
  color: #eee;
}

.ui-button.f {
  cursor: pointer;
}

.ui-button.g {
  box-shadow: 3px 5px 2px #2b4e48;
}

.ui-button.g:hover {
  box-shadow: 2px 0 1px #344f57;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.ui-button.h {
  background: linear-gradient(30deg, #e0eeeb, #7ccec0, #abe4da);
  background-size: 200% 200%;
  animation: bg-grad 2s ease infinite;
  -webkit-animation: bg-grad 2s ease infinite;
}

.ui-button.h:hover {
  background: #1b806b;
}

.ui-button.i:hover::after {
  display: block;
  color: white;
  content: "CLICK →";
  font-weight: bold;
  position: absolute;
  right: 1.5rem;
}

.ui-button.bound p {
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
}

.ui-button.bound:hover p {
  animation-name: bound;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  font-size: 1.5rem;
}

.ui-button.bound:hover p::after {
  content: " →";
}

.ui-button.bound-mini {
  animation-name: bound-mini;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

.ui-button.bound-mini p {
  transition: all .1s;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  -ms-transition: all .1s;
  -o-transition: all .1s;
}

.ui-button.bound-mini:hover{
  animation-play-state: paused;
}

.ui-button.bound-mini:hover p {
  animation-name: bound;
  animation-delay: 0s;
  animation-duration: 1.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  font-size: 1.5rem;
}

.ui-button.bound-mini:hover p::after {
  content: " →";
}

.ui-button.white {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.ui-button.white:hover {
  background-color: #abe4da71;
}

.ui-button.white:hover p {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.ui-button.white:hover p {
  font-size: 2rem;
  color: #11111179;
}

.ui-button.white-black {
  background-color: transparent;
  border-color: #111;
  border-radius: 0;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.ui-button.white-black.ft {
  border-color: transparent;
}

.ui-button.white-black:hover {
  background-color: #111;
  color: #eee;
}

.copy {
  text-align: center;
}


@keyframes bg-grad {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  80% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes bound {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  12% {
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }

  25% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  33% {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
  }

  37% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  43% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
  }

  50% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes bound-mini {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  12% {
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}

  25% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  33% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}

  37% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  43% {
    transform: translateX(-2.5px);
    -webkit-transform: translateX(-2.5px);
    -moz-transform: translateX(-2.5px);
    -ms-transform: translateX(-2.5px);
    -o-transform: translateX(-2.5px);
}

  50% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}